body {
  color: #f5f5f5;
  background: #333;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

#name {
  width: 100%;
  display: block;
  margin: 10% auto;
  margin-bottom: 5%;
  font-family: "Fira Code", monospace;
}

hr {
  width: 100%;
  border: thin solid #555;
}

.card {
  width: 75%;
  margin: 0 auto;
}
.card-title {
 margin: 0; 
}
.card-text {
  width: 90%;
  padding-left: 10px;
  text-indent: 25px;
  font-family: "Comfortaa";
}
/* 
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin: 0;
  }
  .card-text {
    width: 100%;
    padding-left: 10px;
    text-indent: 25px;
    font-family: "Comfortaa";
  }
}
 */