<div id="disqus_thread"></div>
<script type="text/javascript">
  function disqus_config() {
    this.page.url = "https://portfolio-lemueld6200.glitch.me{{ page.url | relative_url }}";
    this.page.identifier = "{{ page.id }}";
  }
  (() => {
    let d = document, s = d.createElement("script");

    s.src = '//{{ site.disqus.shortname }}.disqus.com/embed.js';

    s.setAttribute("data-timestamp", + new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
</noscript>
