<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta
  name="viewport"
  content="initial-scale=1, width=device-width, viewport-fit=cover"
/>
<title>{{ page.title }} - {{ site.title }}</title>

<link
  rel="stylesheet"
  type="text/css"
  href="//fonts.googleapis.com/css?family=Comfortaa"
/>
<link
  rel="icon"
  type="image/jpg"
  href="https://s3.amazonaws.com/production-assetsbucket-8ljvyr1xczmb/user-avatar/32944806-bd5b-4e60-85da-5aef0488e49c-large.jpg"
/>

<!-- CSS Libraries -->
<!-- Normalize -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css"
  integrity="sha256-N6+kUxTWxpqVK+BrPWt3t4jeOWPtp37RZEbm5n9X+8U="
  crossorigin="anonymous"
/>
<!-- Bootstrap -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<!-- Javascript Libraries -->
<!-- JQuery -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<!-- Bootstrap -->
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>

<!-- CSS Local -->
<link rel="stylesheet" href="/css/main.css" />

<!-- Javascript Local -->
<script src="/js/main.js" defer></script>
